html, body {
height:100%;
margin:0;
padding:0;
}
.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel {
margin-bottom: 60px;
}
.carousel-caption {
z-index: 10;
}
.carousel .item {
background-color: #777;
}
.carousel .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.carousel .carousel-inner .bg4 {
background-image:url('../images/4.jpg');
background-position: center center;
}
.carousel .carousel-inner .bg4 {
background-image:url('../images/3.jpg');
background-position: center center;
}
.carousel .carousel-inner .bg1 {
background-image:url('../images/1.jpg');
background-position: center center;
}